@tailwind base;
@tailwind components;
@tailwind utilities;

[role=button] {
  cursor: pointer;
}

:root {
  --title-color: #41525d;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
  overflow: auto;
}